header {
    display: flex;
    max-width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
}

main {
    display: flex;

}

.menu {
    display: flex;
    height: 400px;
    flex: 1;
    background-color: darkolivegreen;
    justify-content: center;
    align-items: center;
}

.con {
    display: flex;
    height: 400px;
    flex: 4;
    background-color: seagreen;
    justify-content: center;
    align-items: center;
}

.ad {
    display: flex;
    height: 400px;
    flex: 1;
    background-color:  darkgreen;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    max-width: 100%;
    height: 140px;
    justify-content: center;
    align-items: center;
    background-color: olive;
}
